*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: var(--col-primary);
  color: var(--fc-global);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin: 0 auto 0 auto;
}

.dashboard__header {
  margin: 0;
  text-align: center;
  background-color: var(--col-secondary);
  padding: 0.5em 0 0.5em 0;
}

.dashboard__masterpassword::placeholder {
  text-align: center;
  text-transform: uppercase;
}

span {
  color: var(--col-cta);
}

footer {
  display: flex;
  justify-content: space-between;
}

.addButton {
  width: 5em;
}

.searchButton {
  width: 5em;
}
